@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter_400";
  src: url("./assets/fonts/Inter-VariableFont.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter_600";
  src: url("./assets/fonts/Inter-VariableFont.ttf")
    format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Geist_mid_tag_text";
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: "Geist_800";
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 800;
}

@font-face {
  font-family: "Geist_700";
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Geist_header_title";
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Geist_mid_tag";
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Geist_mid_text";
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

.inter {
  font-family: "Inter", sans-serif;
}
.inter_400 {
  font-family: "Inter_400", sans-serif;
}
.inter_600 {
  font-family: "Inter_600", sans-serif;
}

.geist-header {
  font-family: "Geist_header_title", sans-serif;
}
.geist-800 {
  font-family: "Geist_800", sans-serif;
}
.geist-700 {
  font-family: "Geist_700", sans-serif;
}

.geist-midtag {
  font-family: "Geist_mid_tag", sans-serif;
}

.geist-midtag-text {
  font-family: "Geist_mid_tag_text", sans-serif;
}

.geist-midtag-text_2 {
  font-family: "Geist_mid_text", sans-serif;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE e Edge antigo */
}