@import "tailwindcss";

@font-face {
  font-family: "Inter";
  src: url("./assets/fonts/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Geist_header_title";
  src: url("./assets/fonts/Geist-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}


.inter {
  font-family: "Inter", sans-serif;
}

.geist-header {
  font-family: "Geist_header_title", sans-serif;
}